*{margin: 0; padding: 0; box-sizing: border-box;}

@mixin flexCenter($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}


.colorName{
  width: 5vw;
  height: 15vh;
  @include flexCenter(flex-start, center);
  transform: scale(5,5);
  font-weight: 1000;
  // color: #fff;
  mix-blend-mode: overlay;
  }
.colorDescription{
  width: 36vw;
  height: 2vh;
  @include flexCenter(flex-end, center);
  font-weight: 600;
  mix-blend-mode: overlay;
}





#hanbok_newWave_mainPage{
  width: 100vw;
  background-color: #565656;
  @include flexCenter(center, center);
}

#newWave_textbox{
  width: 20vw;
  height: 50vh;
  // border: 1px  solid red;
  position: absolute;
  @include flexCenter(center, center);
  flex-direction: column;
  color: #fff;
  &>div{
    width: 20vw;
    height: 10vh;
    @include flexCenter(center, center);
    font-size: 3rem;
    font-weight: 600;
    &>p{
      width: 20vw;
      height: 10vh;
      @include flexCenter(center, center);
    }
  }
  &>div:nth-child(1)>p{
    letter-spacing: 46px;
  }
  &>div:nth-child(2)>p{
    letter-spacing: 34px;
  }
  &>div:nth-child(3)>p{
    letter-spacing: 34px;
  }
  &>div:nth-child(4)>p{
    letter-spacing: 34px;
  }
  &>div:nth-child(5)>p{
    letter-spacing: 38px;
  }
}

#colorInNewwave{
  width: 100vw;
  height: 40vh;
  @include flexCenter(center, center);
  transform: scale(2.6,8);
  letter-spacing: 3px;
  color: #BB272D;
}


#newWave_color{
  width: 100vw;
  // height: 100vh;
  display: flex;
  @include flexCenter(center, center);

  &>div{
    width: 45vw;
    height: 108vh;
    
    display: flex;
    flex-direction: column;
    &>div{
      width: 45vw;
      height: 18vh;
      @include flexCenter(center, center);
      flex-direction: column;
    }
    &>div:nth-child(1){
      background-color: #BB272D;
    }
    &>div:nth-child(2){
      background-color: #E3DDCB;
    }
    &>div:nth-child(3){
      background-color: #3E465B;
    }
    &>div:nth-child(4){
      background-color: #245441;
    }
    &>div:nth-child(5){
      background-color: #6D1B43;
    }
    &>div:nth-child(6){
      background-color: #161616;
    }
  }
}

#newWave_linearBgc{
  width: 100vw;
  height: 100vh;
  background: linear-gradient(#ffffff, #252525);
}


#hanbok_legacy{
  width: 100vw;
  background-color: #252525;
  // @include flexCenter(center, center);
  position: relative;
  &>div:nth-child(1){
    width: 78vw;
    height: 20vh;
    // border: 1px solid red;
    color: #fff;
    @include flexCenter(center, center);
    &>p{
      width: 10vw;
      // height: 15vh;
      @include flexCenter(flex-end, center);
      font-weight: 500;
      transform: scale(8,8);
      letter-spacing: 1.5px;
    }
  }

  &>div:nth-child(2){
    width: 100vw;
    height: 100vh;
    display: flex;

    &>div:nth-child(1){
      width: 65vw;
      height: 60vh;
      // border: 1px solid red;
      @include flexCenter(center, center);
    }
    &>div:nth-child(2){
      width: 25vw;
      height: 70vh;
      @include flexCenter(center, center);
      flex-direction: column;
      color: #fff;
      font-weight: 400;
      font-size: 12px;
      // border: 1px solid red;
      &>div:nth-child(1){
        width: 15vw;
        height: 10vh;
        letter-spacing: 2px;
        line-height: 35px;
        font-size: 16px;
      @include flexCenter(center, center);
      }
      &>div:nth-child(2){
        width: 25vw;
        height: 40vh;
        line-height: 29.48px;
      @include flexCenter(center, center);
      }
    }
  }
}

#legacyMain_nav{
  width: 25vw;
  height: 10vh;
  font-size: 16px;
  font-weight: 500;
  color: #fff;

  position: absolute;
  right: 13vw;
  top: 72vh;
@include flexCenter(flex-start, center);
&>div:nth-child(1){
  width: 10vw;
  height: 10vh;
@include flexCenter(center, center);
flex-direction: column;
  &>div{
    width: 8vw;
    height: 3.5vh;
@include flexCenter(center, center);
  }
}
}
